<h1>Create a new Article:</h1>
<form action="/articles" method="POST">
    <p><label for="title">Title:</label>
    <input id="title" type="text" name="title" placeholder="Article title:"></p>
   
    <p><label for="content">Content:</label>
    <textarea id="content" type="textarea" name="content" placeholder="Article content:" rows="4" cols="50"></textarea></p>
   
    <button type="submit">Create Article</button>
</form>